@charset "UTF-8";

body {
    background-color: rgb(117, 175, 69);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20.0px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(85, 76, 121);
    background-color: rgb(50, 37, 107);
    text-align: center;
}

h2{
text-align: center;
 font-size: 28px; 
 color: purple;
}